<launch>
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" respawn="true"/>
    <node pkg="tiburon" type="thruster_controller" name="thruster_controller" args="/dev/ttyACM0" respawn="true"/>
    <node pkg="tiburon" type="vn100_node" name="tiburon" respawn="true"/>
    <node pkg="tiburon" type="velocity_node" name="velocity_node" respawn="true"/>
</launch>
