<launch>
    <node pkg="tiburon" type="capture.py" name="image_capture"/>
    <node pkg="tiburon" type="enhancedSegmentation" name="SegmentationNodeBottom"/>
    <node pkg="tiburon" type="segmentationFront" name="SegmentationNodeFront"/>
    <node pkg="tiburon" type="bottom_camera_node" name="BottomCameraNode"/>
</launch>
